<div class="row d-flex justify-content-center"></div>
<h3>Welcome {{name}} </h3>
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a new course:</h3>

    <form class="form new-course-form">
      <div class="form-outline mb-4">
        <label for="course-title">Title:</label>
        <input class="form-control form-control-lg" type="text" id="course-title" name="course-title" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
    <main>
      {{#if courses.length}}
        <div class="col-md-6 course-list">
    {{#each courses as |course|}}
        <div class="card">
          <div class="container">
          <h4><b><a href="/course/{{course.id}}">{{course.course_title}}</b></h4> 
          <div class="card-body">
          <button type="button" id="delete" data-id="{{course.id}}" class="btn btn-danger">Delete</button>
        </div>
</div>
      </div>
    {{/each}}
      </div>
      {{/if}}
    </main>
</div>
<style>

.card {
    inline-size: 160px;
    border: 10px solid rgb(23, 111, 198);
    border-radius: 10px;
    display:flex;
    width:250px;

    margin: 5px;
}
#delete{
  margin: 2px;
}
  




</style>


<script>
const newFormHandler = async (event) => {
    event.preventDefault();
  
    const course_title = document.querySelector('#course-title').value.trim();
    
    if (course_title) {
      const response = await fetch(`/api/courses`, {
        method: 'POST',
        body: JSON.stringify({course_title}),
        headers: {
          'Content-Type': 'application/json',
        },
      });
  
      if (response.ok) {
        document.location.reload();
      } else {
        alert('Failed to create course');
      }
    }
  };
  
  const delButtonHandler = async (event) => {
    if (event.target.hasAttribute('data-id')) {
      const id = event.target.getAttribute('data-id');
  
      const response = await fetch(`/api/courses/${id}`, {
        method: 'DELETE',
      });
  
      if (response.ok) {
        document.location.replace('/courses');
      } else {
        alert('Failed to delete courses');
      }
    }
  };
  
  document
    .querySelector('.new-course-form')
    .addEventListener('submit', newFormHandler);
  
  document
    .querySelector('.course-list')
    .addEventListener('click', delButtonHandler);


</script>
</div>