
<div class="container">
<div class="row d-flex justify-content-center">
    <h1 class="title">{{document_title}}</h1>
    <iframe width="800" height="1500" src={{document_link}}>
    </iframe>
</div>
</div>

<style>
.container{
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
}
.btn-success{
    display:flex;
    justify-content: center;
}
</style>


