<div>
    <h1>How can I add a lecture?</h1>
    <div class="row d-flex justify-content-center">
    <iframe width="420" height="345" src="https://www.youtube.com/embed/IMTOhZmxkgQ">
    </iframe> 
</div>
        <h3>Step One</h3>
        <p>Find the video you want to use via youtube and copy the URL.</p>
        <h3>Step Two</h3>
        <p>Add the lecture title and URL to course on progression.</p>
        <h3>Step Three</h3>
        <p>Click Newley Added Lecture.</p>
        <h3>Step Four.</h3>
        <p>Enjoy!</p>
</div>

<div>
    <h1>How can I add a document?</h1>
    <div class="row d-flex justify-content-center">
    <iframe width="420" height="345" src="https://www.youtube.com/embed/BCU2i0mygz4">
    </iframe> 
</div>
        <h3>Step One</h3>
        <p>Go to your google drive and choose the pdf file you would like to add.</p>
        <h3>Step Two</h3>
        <p>Make the document shared and copy the link generated and open in new tab.</p>
        <h3>Step Three</h3>
        <p>After opening the document in a new tab copy the url which should end with "/view"</p>
        <h3>Step Four</h3>
        <p>Add copied url and title of the document to your course.</p>
        <h3>Step Five</h3>
        <p>Click newley added document.</p>
        <h3>Step Six</h3>
        <p>Enjoy!</p>
</div>

