<div class="container">
    <div class="row d-flex justify-content-center">
    <h1 class="title">{{lecture_title}}</h1>
    <iframe width="1000" height="900" src={{lecture_link}}>
    </iframe>
</div>
</div>

<style>
.container{
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
}
</style>

<script>
document.addEventListener('visibilitychange', function()
   let status = document.visibilityState;
   alert(status)
});
</script>