<div>
  <div class="col-md-6 login">
    <h1>Progression🧱</h1>
 
    <h2>Login</h2>
         <form style="width: 23rem;" class="form login-form">

            <div class="form-outline mb-4">
              <input type="email" id="email-login" class="form-control form-control-lg" />
              <label class="form-label" for="email-login">Email address</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="password-login" class="form-control form-control-lg" />
              <label class="form-label" for="password-login">Password</label>
            </div>

            <div class="pt-1 mb-4">
              <button class="btn btn-info btn-lg btn-block" type="submit">login</button>
            </div>
            <div class="pt-1 mb-4">
              <p>Not Registered?</p>
              <a href='/signup' class="btn btn-lg btn-block btn-primary" alt='Broken Link'>signup</a>

            </div>


          </form>
  </div>  
</div>



<style>

  .login {
    width: 280px;
    height: 280px;

    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
</style>

<script src="./js/login.js"></script>