<div class="row">
  <div class="col-md-6">
    <h2>Signup</h2>

         <form style="width: 23rem;" class="form signup-form">

            <div class="form-outline mb-4">
              <input type="text" id="name-signup" class="form-control form-control-lg" />
              <label class="form-label" for="name-signup">Name</label>
            </div>

            <div class="form-outline mb-4">
              <input type="email" id="email-signup" class="form-control form-control-lg" />
              <label class="form-label" for="email-signup">Email address</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="password-signup" class="form-control form-control-lg" />
              <label class="form-label" for="password-signup">Password</label>
            </div>

            <div class="pt-1 mb-4">
              <button class="btn btn-info btn-lg btn-block" type="submit">signup</button>
            </div>


          </form>
  </div>


<script src="./js/signup.js"></script>